/*@font-face{
	font-family: defaultfont;
	src:url('fonts/Bizon.otf');
}*/
/*@font-face{
	font-family: textfont;
	src:url('fonts/NEOTERIC.otf');
}*/
@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
a{
	font-style: inherit;
	color: inherit;
	text-decoration: inherit;
}
a:hover{
	opacity: 0.9;
	text-decoration: none;
}
h2,h3{
	font-family: arial;
}
red{
	color: red;
}
html{
	position: relative;
	min-height: 100%;
}
normal-text{
	font-weight: 100;
}
.font--small{
	font-size: 15px;
}
.btn-white{
	background-color: white;
}
.align-center{
	text-align: center;
}
.index_content{
	background-image: url("../images/bg.jpg");
}
.content{
	padding-top: 95px;
}
.hidden{
	display: none;
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color: black;
	color: white;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: black !important;
	color: white !important;
}
body{
	/*background-image: url("../images/bg.jpg");*/
	background-color: #D7D2CF;
	/*background-color: #F2F2F2;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: arial;
	margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 80px;
}
.main-header{
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.navbar{
	font-size: 15px;
	display: block;
}
.navbar-header{
	width: 50%;
}
.navbar-brand{
	width: inherit;
}
.navbar-brand .indexlogo img{
	display: inline-block;
	width: 204%;
}
.navbar-brand img{
	display: inline-block;
	width: 90%;
}
li .active{
	background-color:none;
	color: red;
}
.indexpage{
	margin-top: 20%;
	color: white;
}
label{
	text-shadow: 2px 2px #2E2E2E;
	font-size: 25px;
}
form{
	font-family: arial;
}
.pagetitle{
	font-size:30px;
	font-weight: bold;
	margin-bottom:3%;
}
fontsmall td{
	font-size: 12px;
}
fontsmall .btn{
	font-size: 12px;
}
.errors{
	color:red;
	font-size: 14px;
}
.printButton{
	text-align: right;
}
.clientName{
	background-color: transparent;
	margin-bottom : -50;
	color:  black;
	border: none;
}
.square{
	background-color: white;
	text-align: center;
	font-size: 30px;
	position: relative;
	margin-bottom: 15px;
}
.square span{
	vertical-align: middle;
	position: relative;
	top: 30%;
}
.box{
	background-color: white;
	/*height: 80vh;*/
	padding: 15px;
	text-align: center;
	margin-bottom: 30px;
	-webkit-box-shadow: 6px 6px 16px 0px rgba(138,138,138,1);
	-moz-box-shadow: 6px 6px 16px 0px rgba(138,138,138,1);
	box-shadow: 6px 6px 16px 0px rgba(138,138,138,1);
}
.box:hover{
	border: solid #21444F 5px;
}
.box-image img{
	width: 80%;
	text-align: center;
}
.box-title{
	font-size: 20px;
	margin-top: 30px;
}
.alert-login{
	position: absolute;
	margin-top: 100px;
	text-align: center;
}
/*-------------invoice-------------*/

.kop{
	margin-top: 2%;
 	text-align: center;
 	font-size: 16px;
}
.kop img{
	height: 60px;
	margin-bottom: 1%;
}
.invoiceHeader{
	margin-top: 5%;
	margin-bottom: 2%;
}
table{
	width: 300px;
}
.unborder{
	border: none;
}
.namabarang{
	font-size: 18px;
	font-weight: bold;
}
.col-kecil{
	width: 30px;
	border: none;
	display: inline;
}
.col-medium{
	width:110px;
	border:none;
	display: inline;
}
.harga:before{
	content: "Rp ";
}
.invoiceBarang{
	margin-bottom: 2%;
}
.sign{
	margin-top: 20%;
	text-align: right;
}
.invoice-input--large{
	font-size: 20px;
	font-weight: bold;
}
/*-------------invoice-------------*/

@media print
{    
    .no-print
    {
        display: none !important;
    }
}